.navbar {
  background-color: #08446c;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.relative-container {
  position: relative; /* Define um contêiner relativo */
}

.tituloFisioterapia {
  position: relative; /* Define o contexto para o posicionamento relativo */
  left: 50px; /* Ajuste este valor conforme necessário */
}

.navbar-brand {
  color: white;
  padding-left: 38px;
}

.separator {
  height: 50px;
  width: 2px;
  background-color: white;
  margin-left: 175px;
  margin-right: -35px;
}

#dashboard {
  margin-left: 15px;
}

.ml-auto {
  margin-left: 54rem;
}

.arrow-down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  margin-left: 15px;
  position: relative;
  top: -2px;
}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 83px;
  left: 0;
  background-color: #e8e4e4;
  padding-top: 20px;
  transition: 0.3s;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 0px;
}

.sidebar ul li a {
  display: block;
  padding: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 100%;
  transition: background-color 0.3s, padding 0.3s;
}

.sidebar ul li a:hover {
  background-color: #0a74b7;
  color: white;
  padding: 20px;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  background-color: #f9f9f9;
  height: calc(100vh - 83px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 20px;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #08446c;
}

.dados-basicos {
  background-color: #eef0f5;
  color: #696969;
  padding: 14px;
  border-bottom: 30px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  position: relative;
  margin-top: 25px;
}

h6 {
  padding-left: 25px;
  padding-top: 5px;
}

p {
  color: #0a74b7;
}

.nome-paciente {
  padding-top: 35px;
  padding-left: 30px;
  flex: 1;
}

.nome {
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.nome::placeholder {
  color: black;
  padding-left: 10px;
}

.data-avaliacao {
  padding-top: 35px;
  flex: 1;
  padding-left: 45px;
}

.dataAvaliacao {
  width: 80%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.estado-civil {
  padding-top: 35px;
  position: relative;
  left: -35px;
}

.estadoCivil {
  width: 300px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nacionalidade-div {
  padding-top: 35px;
  padding-left: 30px;
  flex: 1;
}

.nacionalidade {
  width: 120%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.naturalidade-div {
  padding-top: 35px;
  padding-left: 30px;
  flex: 1;
  margin-left: 55px;
}

.naturalidade {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.data-nascimento {
  padding-top: 35px;
  padding-left: 30px;
  flex: 1;
  margin-left: 10px;
}

.dataNascimento {
  width: 105%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.peso-div {
  margin-right: 135px;
  padding-top: 35px;
  margin-left: 50px;
}

.peso {
  width: 155%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.peso::placeholder {
  color: black;
}

.altura-div {
  padding-top: 35px;
  padding-left: 30px;
  flex: 1;
}
.altura {
  width: 140%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.endereco-div {
  padding-top: 35px;
  flex: 1;
  padding-left: 45px;
  margin-right: 500px;
  margin-left: 35px;
}
.endereco {
  width: 520%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.identidade {
  padding-top: 35px;
  position: relative;
  left: -35px;
}
.numeroIdentidade {
  width: 380px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.altura::placeholder {
  color: black;
}

.endereco::placeholder {
  color: black;
}

.identidade::placeholder {
  color: black;
}

.telefone-div {
  padding-top: 35px;
  padding-left: 30px;
  flex: 1;
}
.telefone {
  width: 150%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.telefone::placeholder {
  color: black;
}

.email-div {
  padding-top: 35px;
  flex: 1;
  padding-left: 45px;
  margin-right: 390px;
  margin-left: 75px;
}
.email {
  width: 270%;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.email::placeholder {
  color: black;
}

.profissao-div {
  padding-top: 35px;
  position: relative;
  left: -35px;
}
.profissao {
  width: 260px;
  height: 45px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profissao::placeholder {
  color: black;
}

.dados-ficha {
  background-color: #eef0f5;
  color: #696969;
  padding: 14px;
  border-bottom: 30px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  position: relative;
  margin-top: 25px;
}

.diagnostico-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.queixa-container {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.historia-doença {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.historia-patologica {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.habitos {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.historia-familiar {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.exames {
  background-color: #eef0f5;
  color: #696969;
  padding: 14px;
  border-bottom: 30px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  position: relative;
  margin-top: 25px;
}

.exames-complementares {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.exame-fisico {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.proagnostico {
  background-color: #eef0f5;
  color: #696969;
  padding: 14px;
  border-bottom: 30px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  position: relative;
  margin-top: 25px;
}

.diagnostico-fisio {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.proagnostico-fisio {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.quantidade-atendimentos {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 20%;
    height: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.tratamento {
  background-color: #eef0f5;
  color: #696969;
  padding: 14px;
  border-bottom: 30px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  position: relative;
  margin-top: 25px;
}

.plano {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding-left: 30px;

  label {
    color: #0a74b7;
    font-size: 14px;
  }

  textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: 10px;
  }

  textarea::placeholder {
    color: black;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.button {
  display: flex;
  height: 40px;
  align-items: center;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.button-save {
  background-color: #08446c;
  color: #fff;
  margin-left: 10px;
}

.button-finish {
  background-color: #26a41b;
  color: #fff;
  margin-left: 630px;
}

.button-cancel {
  background-color: #d82929;
  color: #fff;
  margin-left: 20px;
}

.icon {
  margin-right: 5px;
}
