<nav class="navbar">
  <a class="navbar-brand">Minha conta</a>
  <span class="separator"></span>
  <a class="navbar-brand" id="dashboard">Meu dashboard</a>
  <a class="navbar-brand ml-auto">
    Administrador <span class="arrow-down"></span>
  </a>
</nav>

<div class="sidebar">
  <ul>
    <li>
      <a href="#">
        <img
          src="assets/logodashboard.png"
          alt="dashboard icone"
          class="icon"
        />
        Meu dashboard
      </a>
    </li>
    <li>
      <a href="#">
        <img
          src="assets/logopacientes.png"
          alt="pacientes icone"
          class="icon"
        />
        Pacientes
      </a>
    </li>
  </ul>
</div>

<div class="main-content">
  <h1>PACIENTES</h1>

  <!-- Botão para adicionar paciente -->
  <button class="custom-button" (click)="cadastrar()">
    <img
      src="assets/logonovopacientes.png"
      alt="Adicionar"
      class="icon-adicionar-pacientes"
    />
    Adicionar Paciente
  </button>

  <!-- Mensagem de erro, se existir -->
  <div *ngIf="errorMessage" class="error-message" style="color: red">
    {{ errorMessage }}
  </div>

  <h2>{{ pacientes.length }} PACIENTES ENCONTRADOS</h2>

  <table class="patients-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes">
        <td class="id-cell">{{ paciente.id }}</td>
        <td>{{ paciente.nome }}</td>
        <!-- Substitua 'nome' pelo campo correto do seu modelo -->
        <td>
          <button class="view-button" (click)="visualizarPaciente(paciente.id)">Visualizar</button>
        </td>        
      </tr>
      <tr *ngIf="pacientes.length === 0">
        <td colspan="3" style="text-align: center">
          Nenhum paciente cadastrado.
        </td>
      </tr>
    </tbody>
  </table>
</div>
